.paginator {
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  border: 0.5px solid;
  color: var(--main-black);
  padding: 6px;
}

.page-indicator {
  padding: 5px 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
}

.paginator--hidden {
  display: none;
}
